.AppContainer{
  width: 100%;
  display: flex;
}

.ListContainer{
  float: left;
  width: 20%;
}

.NoteContainer{
  width: 80%;
}

.NoteTitle{
  height: 50px;
}

.Title{
  width: 100%;
}

.Data{
  width: 100%;
  height: 400px;
}