.AppContainer{
  width: 100%;
  display: flex;
  position: fixed;
}

.modal-overlay{
  position: fixed;
  background-color: rgb(50, 57, 63);
  z-index: 1000;
  width: 512px;
  height: 256px;
  top: 25%;
  left: 50%;
  color: #DDDDDD;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.modal-title{
  background-color: rgb(30, 35, 39);
  height: 10%;
  border-radius: 10px 10px 0px 0px;
  text-align:center;
}

.modal-title button{
  background-color: rgb(30, 35, 39);
  color: #DDDDDD;
  border: none;
  float:right;
  margin-right: 5px;
}

.modal-content{
  height: 200px;
  padding: 20px;
  height: 60%;
  text-align: center;
  justify-content: center;
  font-size: x-large;

}

.modal-options{
  height: 30%;
  float: right;
  padding: 12px;
}

.modal-options button{
  border: solid 2px;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  width: 100px;
}
.ListContainer{
  float: left;
  width: 20%;
}

.NoteContainer{
  width: 80%;
}

.NoteTitle{
  height: 50px;
}

.innerButton{
  width: 20px;
  text-align: center;
  border-radius: 25%;
  float: right;
  opacity: 0;
  color: white;
}

.noteButton:hover .innerButton{
  opacity: 1;
  background-color: #ca2a2a;
}

.EmptyNote{
  width: 80%;
  padding: 2rem;
}

.Title{
  width: 100%;
}

.Data{
  width: 100%;
  height: 400px;

}